
body { 
    font-family: Arial; 
    background: #f1f1f1; 
}

.chatbox { 
    width: 700px;        
    height: 600px;       
    margin: 50px auto; 
    background: white; 
    padding: 20px; 
    border-radius: 10px; 
}

#chatlogs { 
    height: 500px;       
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px; 
}

.userText { 
    text-align: right; 
    color: blue; 
    margin: 8px; 
    font-size: 16px;
}

.botText { 
    text-align: left; 
    color: green; 
    margin: 8px; 
    font-size: 16px;
}
